@charset "UTF-8";

.hd { width: 100%; height: 122px;  position:absolute; top: 0; left: 0; z-index:91; }
/* .hd:hover { background-color: transparent; } */
.hd_wrap { width: 1200px; margin: 0 auto; }
.logo { display:block; width:144px; height:auto; margin: 30px 0px; float:left; }
.logo img { display:block; width: 100px; height: auto; }
.tnb { float:right; margin: 30px 0px; }
.tnb a { font-size:12px; color:#333; padding: 1.5em; }
.tnb a:hover { font-weight:700; text-decoration: underline; color: salmon; text-decoration-style:dotted;}
/*방법 1: logo/tnb/gnb 한 줄로 배치 */
/* .gnb { float: left; width: 1200px; margin-left: 50px; margin-right: 50px; margin-top: 10px; color: #ccc;} */
/*방법 2: gnb만 밑으로 내릴 경우에*/
.gnb {clear: both; width: 100%;}
.gnb::after {content: ""; display: block; clear: both;} /*클리어픽스clear-fix 처리/ 크기 잡아줌*/
.gnb > ul::after {content: ""; display: block; clear: both;}
.gnb > ul > li { float: left; width: 20%; height: 40px; line-height: 40px; position: relative}
.gnb .dp1 { display: block; color: #333; text-align: center; background-color: #eee; font-size: 16px;}
.gnb li:hover .dp1 { background-color: #fff; color: white; }
.gnb .sub { display:none; width: 100%; height:auto; position:absolute; top:40px; background-color:#ccc;
left: 0; z-index:90; height: 124px; }
/*    .gnb .sub {display: none; width: 100%; height: auto;}*/
/* .gnb li { float:left; } */
.gnb:hover li .sub { display:block;}
.gnb li .sub li { clear:both; height: 30px; line-height: 30px; border-bottom: 1px solid#fff;}
.gnb li .sub li a{ background-color: #ccc; color: #111; font-size: 14px; 
    display: block; text-indent: 2em; overflow: hidden; white-space: nowrap; 
    text-overflow: ellipsis;}
.gnb .lu:hover .sub{display: block; z-index: 90px; top: 40px; left: 0;} /*흠*/
.gnb li .sub li:hover a {color: deepskyblue;}
.content {clear : both; width: 100%;} /*이거 100%해야 배경색*/
.vs {clear: both; width: 100%; height: 100vh; overflow: hidden;} /*100vh현재 기기에 크기에 맞게*/
.vdo { display: block; width: 100%; height: auto;}
